body{
    background-color: beige;
    font-family: sans-serif;
    color: brown;
    margin: auto;
        text-align: center;
}

header{
    background-color: moccasin;
}

section {
    width: 50%;
    margin: auto;
}

h1, h2, h3, nav {
    padding: 15px;
    font-family: monospace;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    padding: 10px;
}
/*font sizing properties for each tag*/
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

nav {
    font-size: 20px;
    padding: 10px;
}

/*footer padded to make create space between links and bottom of page*/
footer {
    height: 100px;
    background-color:bisque
}
hr {
    border: 3px solid chocolate;
    border-radius: 5px;
    width: 60%;
}
ul,ol {
    list-style-position: inside;
}
a {font-weight: bold}
/*Hyperlink pseudo-class alterations*/
a:link {color: forestgreen;}
a:visited {color: darkgreen;}
a:hover {color: limegreen;}
a:active {color: lime;}